/* start Medium Screen */
@media (min-width: 992px) and (max-width:1200px) {
  .title h2 {
    font-size: 2.1rem;
    font-weight: 600;
  }
  .title .line {
    width: 18%;
  }
  .padding-x100 {
    padding: 80px 0;
  }
  .padding-x80 {
    padding: 50px 0;
  }
  /* start Header */
  .header .sign-in {
    margin-left: 90px;
  }
  /* end Header */
  /* start Social Media */
  .social-media .fonts li {
    font-size: 2.2rem;
  }
  .social-media .content h3 {
    font-size: 1.4rem;
  }
  .social-media .content h3 + p {
    font-size: 0.8rem;
  }
  /* end Social Media */
  /* start Features */
  .features-1 .tab-image {
    margin-top: 60px;
  }
  .features-2 .img-content {
    margin-top: 30px;
  }
  .features-3 .feature-content p {
    font-size: 14px;
  }
  .features-3 .img-content {
    margin-top: 50px;
  }
  /* end Features */
  /* start Testimonials */
  .testimonials .line {
    width: 30%;
  }
  /* end Testimonials */
  /* start Contact */
  .contact .title .line {
    width: 10%;
  }
  /* end Contact */
}
/* end Medium Screen */

/* start Small Screen */
@media (max-width: 991px) {
  .padding-x100 {
    padding: 60px 0;
  }
  .padding-x80 {
    padding: 40px 0;
  }
  /* start Header */
  .header {
    text-align: center;
  }
  .center-block-sm {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  /* end Header */
  /* start Features */
  .features-3 {
    padding-bottom: 20px;
  }
  .features-3 .img-content {
    margin-left: 0;
    margin-top: 30px;
  }
  /* end Features */
  /* start Process */
  .our-process .process-content h3 + p {
    font-size: 16px;
  }
  /* end Process */
  /* start Pricing */
  .pricing .title {
    margin-bottom: 50px ;
  }
  .pricing .pricing-content.popular {
    margin-top: 40px;
  }
  /* end Pricing */
  /* start Testimonials */
  .testimonials .last-customer {
    margin-top: 40px;
  }
  /* end Testimonials */
  /* start Custom Section */
  .custom .stylish-paragraph {
    width: auto;
    text-align: center;
    line-height: 1.9;
  }
  .custom .custom-btn {
    margin-top: 20px;
  }
  /* end Custom Section */
  /* start Contact */
  .contact .title {
    margin-bottom: 50px;
  }
  /* end Contact */

  /* start Framework */
  .center-sm {
    display: block !important;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .text-center-sm {
    text-align: center !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .margin-sm-50 {
    margin: 50px 0 !important;
  }
  .margin-sm-40 {
    margin: 40px 0;
  }
  .margin-sm-30 {
    margin: 30px 0;
  }
  .margin-sm-20 {
    margin: 20px 0;
  }
}
/* end Small Screen */

/* start Extra Small Screen */
@media (max-width: 767px) {
  /* start Header */
  .header {
    padding-bottom: 100px;
    padding-top: 100px;
    min-height: 80vh !important;
    background-size: cover;
    background-position: center center;
  }
  .header .main-content, .header .sign-in {
    margin-top: 0px;
  }
  /* end Header */
  /* start Social Media */
  .social-media .fonts li {
    font-size: 2rem;
    margin-right: 30px;
  }
  .social-media .fonts li:first-child i {
    animation: facebook infinite 2s 1s linear;
    -webkit-animation: facebook infinite 2s 1s linear;
}
  .social-media .fonts li:nth-child(2) i {
    animation: twitter infinite 2s 3s linear;
    -webkit-animation: twitter infinite 2s 2s linear;
  }
  .social-media .fonts li:nth-child(3) i {
    animation: google infinite 2s 3s linear;
    -webkit-animation: google infinite 2s 3s linear;
}
  .social-media .fonts li:nth-child(4) i {
    animation: pinterest infinite 2s 4s linear;
    -webkit-animation: pinterest infinite 2s 4s linear;
}
  .social-media .fonts li:nth-child(5) i {
    animation: instagram infinite 2s 5s linear;
    -webkit-animation: instagram infinite 2s 5s linear;
}
  .social-media .fonts li:nth-child(6) i {
    animation: linkedin infinite 2s 6s linear;
    -webkit-animation: linkedin infinite 2s 6s linear;
}
  .social-media .fonts li:last-child i {
    animation: wifi infinite 2s 7s linear;
    -webkit-animation: wifi infinite 2s 7s linear;
  } 
  @keyframes facebook {
    0%{
      color: #cfc7c7;
    }
    50% {
      color: #3a589a;
    }
    100%{
      color: #cfc7c7;
    }
  }
  @keyframes twitter {
    0%{
      color: #cfc7c7;
    }
    50% {
      color: #01abf3;
    }
    100%{
      color: #cfc7c7;
    }
  }
  @keyframes google {
    0%{
      color: #cfc7c7;
    }
    50% {
      color: #c34223;
    }
    100%{
      color: #cfc7c7;
    }
  }
  @keyframes pinterest {
    0%{
      color: #cfc7c7;
    }
    50% {
      color: #ce2025;
    }
    100%{
      color: #cfc7c7;
    }
  }
  @keyframes instagram {
    0%{
      color: #cfc7c7;
    }
    50% {
      color: #b0298c;
    }
    100%{
      color: #cfc7c7;
    }
  }
  @keyframes linkedin {
    0%{
      color: #cfc7c7;
    }
    50% {
      color: #0079ad;
    }
    100%{
      color: #cfc7c7;
    }
  }
  @keyframes wifi {
    0%{
      color: #cfc7c7;
    }
    50% {
      color: #f3962c;
    }
    100%{
      color: #cfc7c7;
    }
  }
  /* end Social Media */
  /* start Testimonials */
  .testimonials .title h2 {
    text-align: center;
    width: auto;
  }
  /* end Testimonials */

  /* start Framework */
  .margin-xs-50 {
    margin: 50px 0;
  }
  .margin-xs-40 {
    margin: 40px 0;
  }
  .margin-xs-30 {
    margin: 30px 0;
  }
  .margin-xs-20 {
    margin: 20px 0;
  }
}
/* end Extra Small Screen */
  
/* start Mobile Screen Only */
@media (max-width: 500px) {
  /* start Header */
  .header {
    padding-bottom: 80px;
    padding-top: 80px;
    min-height: 90vh !important;
    background-size: cover;
    background-position: center center;
  }
  .header .main-content, .header .sign-in {
    margin-top: 0px;
  }
  .header .main-content .main-title + p {
    font-size: 21px;
    line-height: 1.6;
  }
  .header .main-content .line + p {
    color: #dededf;
    line-height: 1.6;
    font-size: 14px;
  }
  /* end Header */
  /* start Social Media */
  .social-media .content {
    padding: 20px;
  }
  .social-media .content h3 {
    font-size: 20px;
  }
  .social-media .content h3 + p {
    font-size: 13px;
  }
  .social-media .fonts li {
    font-size: 28px;
    margin-right: 15px;
  }
  /* end Social Media */
  /* start Features */
  .features-1 .tabs {
    display: flex;
    margin-bottom: 20px;
    width: max-content;
    margin: auto;
  }
  .features-1 .tab-content p {
    margin-top: 25px;
  }
  .features-2 {
    padding-bottom: 10px;
  }
  .features-3 .feature-content {
    margin-top: 10px;
  }
  .features-3 .feature-content p {
    font-size: 13px;
  }
  /* end Features */
  /* start Process */
  .our-process .process-content h3 {
    font-size: 16px;
  }
  /* end Process */
  /* start Testimonials */
  .testimonials .testimonial-content .customer-info {
    margin-left: 20px;
  }
  /* end Testimonials */
  /* start Custom Section */
  .custom .title {
    margin-bottom: 20px;
  }
  /* end Custom Section */
  /* start Contact */
  .contact .contact-message textarea {
    margin-top: 35px;
  }
  /* end Contact */


  .col-mobile {
    width: 100%;
  }
  .col-mobile-offset-0 {
    margin-left: 0 !important;
  }
  .title h2 {
    font-size: 26px;
    font-weight: bold;
  }
  .title .line + p {
    text-align: center;
    line-height: 1.6;
    width: auto;
  }
}
/* end Mobile Screen Only */

@media (max-width: 415px) {
  .download-btn-left {
    width: 120px;
  }
  .features-1 .tabs {
    margin-bottom: 20px;
    width: 100%;
  }
  .features-1 .tabs .tab {
    width: 100%;
  }
}