@media (max-width : 480px) {
  /* start Navigation Bar */
  .navigation .navbar .logo {
    font-size: 1.65rem;
  }
  /* end Navigation Bar */
  /* start Header */
  .header .main-content .main-title {
    font-size: 3.75rem;
  }
  .header .main-content .main-title + p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .header .main-content .line {
    width: 45%;
  }
  .header .main-content .line + p {
    font-size: 0.85rem;
  }
  /* end Header */
}
@media (max-width: 767px) {
  .header {
    background-image: url(../img/back-phone.jpg);
  }
}